<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>sUsuario</servlet-name>
        <servlet-class>mvc.servlet.sUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sExcel</servlet-name>
        <servlet-class>mvc.servlet.sExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pruebaCombo</servlet-name>
        <servlet-class>test.pruebaCombo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sPaciente</servlet-name>
        <servlet-class>mvc.servlet.sPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sEspecialidad</servlet-name>
        <servlet-class>mvc.servlet.sEspecialidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sMedico</servlet-name>
        <servlet-class>mvc.servlet.sMedico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sEspecialidadEgreso</servlet-name>
        <servlet-class>mvc.servlet.sEspecialidadEgreso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sIngresosHospital</servlet-name>
        <servlet-class>mvc.servlet.sIngresosHospital</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sConsulta</servlet-name>
        <servlet-class>mvc.servlet.sConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sEstudioLab</servlet-name>
        <servlet-class>mvc.servlet.sEstudioLab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sEstudioImg</servlet-name>
        <servlet-class>mvc.servlet.sEstudioImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sTipoConsulta</servlet-name>
        <servlet-class>mvc.servlet.sTipoConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sUpload</servlet-name>
        <servlet-class>mvc.servlet.sUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sEstablecimiento</servlet-name>
        <servlet-class>mvc.servlet.sEstablecimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sCamas</servlet-name>
        <servlet-class>mvc.servlet.sCamas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sDownloadFile</servlet-name>
        <servlet-class>mvc.servlet.sDownloadFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pruebaCombo</servlet-name>
        <url-pattern>/pruebaCombo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sPaciente</servlet-name>
        <url-pattern>/sPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sEspecialidad</servlet-name>
        <url-pattern>/sEspecialidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sMedico</servlet-name>
        <url-pattern>/sMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sEspecialidadEgreso</servlet-name>
        <url-pattern>/sEspecialidadEgreso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sIngresosHospital</servlet-name>
        <url-pattern>/sIngresosHospital</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sConsulta</servlet-name>
        <url-pattern>/sConsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sEstudioLab</servlet-name>
        <url-pattern>/sEstudioLab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sEstudioImg</servlet-name>
        <url-pattern>/sEstudioImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sUsuario</servlet-name>
        <url-pattern>/sUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sExcel</servlet-name>
        <url-pattern>/sExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sTipoConsulta</servlet-name>
        <url-pattern>/sTipoConsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sUpload</servlet-name>
        <url-pattern>/sUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sEstablecimiento</servlet-name>
        <url-pattern>/sEstablecimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sCamas</servlet-name>
        <url-pattern>/sCamas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sDownloadFile</servlet-name>
        <url-pattern>/sDownloadFile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
