hr.style1{
    border: 1px solid #0689C5; 
    margin: 4px;
    width: 20%;
    float: right;
}
.vertical-hr{
    border-left: 4px solid white;
    height: 100%;
}
.fa-color{
    color : #0689C5;
}
.info-contact{
    background-color: #0689C5;
    border-radius: 5px;
    padding: 20px 0;
    margin-bottom: 25px;
    color:#000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.info-contact h4{
    font-weight: bold;
}
.box-info{
    width: 50%;
    font-size: 15px;
    font-weight: bold;
}
.white{
    color: #fff;
}